body {
    background-image: url(../Pictures/paper.jpg);
    background-size: 100vw 100vh;

    overflow-x:hidden;
    overflow-y:hidden;
}

.main-text{
    font-size: 4vmax;
    font-family: HandWriting;
    text-align: center;
}

.home {
    display: flex;
    justify-content: center;
}

.home a {
    font-family: Barcode;
    font-size: 5vmax;
    color: black;
}

.home a:hover {
    color: red;
}

@font-face {
    font-family: Barcode;
    src: url(../Fonts/BarcodeFont.ttf);
}

@font-face {
    font-family: Mono;
    src: url(../Fonts/Mono.ttf);
}

@font-face {
    font-family: PressStart;
    src: url(../Fonts/PressStart.ttf);
}

@font-face {
    font-family: HandWriting;
    src: url(../Fonts/HandWriting.ttf);
}