body {
    width: 100%;
    height: 750px;
    margin: 0;
    padding: 0;
    background-image: url(../Pictures/paper.jpg);
}

.post-line {
    padding: 5% 0% 0% 0%;
    display: flex;
    justify-content: space-evenly;
}

.post {
    list-style: none;
    background-color: black;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: flex-end;
}

#wifi-post {
    background-image: url(../Pictures/wifi.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
}

.post-name {
    color: white;
    font-family: Mono;
    font-size: 50px;
    text-align: left;
}

.home {
    display: flex;
    justify-content: center;
}

.home a {
    font-family: Barcode;
    font-size: 75px;
    color: black;
}

.home a:hover {
    color: red;
}

@font-face {
    font-family: Barcode;
    src: url(../Fonts/BarcodeFont.ttf);
}

@font-face {
    font-family: Mono;
    src: url(../Fonts/Mono.ttf);
}

@font-face {
    font-family: PressStart;
    src: url(../Fonts/PressStart.ttf);
}