body {
    /* background-image: url("Pictures/space.jpg");
    background-repeat: repeat-y;
    height: 750px;
    background-position: center;
    background-size: cover; */

    margin:0;
    padding:0;

}

.invisible{
    visibility: hidden;
}

#body{
    background-color: black;
    background-image: radial-gradient( rgba(0, 150, 0, 0.75), black 120%);
    color: white;
    text-shadow: 0 0 5px #C8C8C8;
    height:100vh;
}

#content-body{
    overflow-x: hidden;
    overflow-y: hidden;
    height:100vh;

    width:auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.version{
    position:absolute;
    padding:0;
    margin:0;
    color: white;
    font-size: 10px;
}

.sign-in{
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin:0;
    font-size: 10px;
    padding:15px;

    font-size: 35px;
    font-family: Barcode;
    color: #ffffff;
    text-decoration: none;
}

.sign-in:hover{
    color: red;
}

#content-body ul {
    margin: 0;
    padding: 65px 0vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
}

#content-body ul li {
    /* display: inline; */
    list-style: none;
    padding: 0vw 0vw 20px 0vw;
}

.navLink {
    font-size: 50px;
    font-family: Barcode;
    color: #ffffff;
}

.navLink:hover {
    color: red;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.typing{
    visibility: visible;

    font-family: PressStart;
    color:white;

    overflow: hidden;
    border-right: 5px solid;

    animation: blink .5s step-end infinite alternate-reverse;
}

/* .typing.preload {
    visibility: hidden;
    animation: none;
    animation-duration: 0s;
    -webkit-animation-duration: 0s;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s;
}

.typing.added {
    visibility: visible;
    width: 25ch;
    animation: typing 2.6s steps(25) forwards, blink .5s step-end infinite alternate-reverse;
    animation-delay: 0.1s; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    font-family: PressStart;
    color:#8429D9;
} */

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.paperImage {
    position: fixed;
    bottom: 100vh;
}

.paperImage.animated {
    animation-name: paperAnim;
    animation-duration: .75s;
    animation-fill-mode: forwards;
}

@keyframes paperAnim {
    100% {
        bottom: -1250px;
    }
}

@media only screen and (max-device-width: 1000px){
    .typing{
        font-size: 25px;
    }
}


@media only screen and (max-device-width: 700px){
    .typing{
        font-size: 20px;
    }
}

@media only screen and (max-device-width: 560px){
    .typing{
        font-size: 15px;
    }

    .navLink {
        font-size: 40px;
    }
}

@media only screen and (max-device-width: 420px){
    .typing{
        font-size: 10px;
    }

    .navLink {
        font-size: 35px;
    }
}

@font-face {
    font-family: Barcode;
    src: url(Fonts/BarcodeFont.ttf);
}

@font-face {
    font-family: Mono;
    src: url(Fonts/Mono.ttf);
}

@font-face {
    font-family: PressStart;
    src: url(Fonts/PressStart.ttf);
}