body {
    margin: 0;
    padding: 0;
    background-image: url(../Pictures/paper.jpg);
}

.post-line {
    padding: 0vw 0vw 10vmax 0vw;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.post{
    text-decoration: none;
    
}

.post:hover{
    text-decoration: underline;
}

.post ul {
    list-style: none;

    width: 40vw;
    height: 30vw;

    background-color: black;

    padding: 0px;
}

.post-name {
    font-size: 2vmax;
    color: black;
    font-family: Mono;

    text-align: center;
}   


.post-img {    
    background-color: black;
    width:40vw;
    height: 30vw;
}

.home {
    display: flex;
    justify-content: center;

    padding: 0vw 0vw 5vw 0vw;
}

.home a {
    font-family: Barcode;
    font-size: 5vmax;
    color: black;
}

.home a:hover {
    color: red;
}

@font-face {
    font-family: Barcode;
    src: url(../Fonts/BarcodeFont.ttf);
}

@font-face {
    font-family: Mono;
    src: url(../Fonts/Mono.ttf);
}

@font-face {
    font-family: PressStart;
    src: url(../Fonts/PressStart.ttf);
}