body {
    margin: 0;
    padding: 0;
    background-image: url(../Pictures/paper.webp);
}

.post-line {
    padding: 0vw 0vw 50px 0vw;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
}

.post{
    text-decoration: none;
}

.post:hover{
    text-decoration: underline;
}

.post ul {
    list-style: none;

    width: 40vw;
    height: 30vw;

    padding: 0px;
}

.post-name {
    font-size: 20px;
    color: black;
    font-family: Mono;

    text-align: center;
}   


.post-img {    
    width:40vw;
    height: 30vw;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
.post-img:hover {
    transform: scale(1.01);
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
}

.home {
    display: flex;
    justify-content: center;

    padding: 0vw 0vw 5vw 0vw;
}

.home a {
    font-family: Barcode;
    font-size: 60px;
    color: black;
}

.home a:hover {
    color: red;
}

@media only screen and (max-device-width: 700px){
    .post-line{
        flex-direction: column;
        align-items: center;
        padding:0px;
    }

    .post-line>li{
        padding: 0px 0px 75px 0px;
    }

    .home a{
        font-size: 50px;
    }

    .post ul{
        width: 60vw;
        height: 50vw;
    }

    .post-img{
        width:60vw;
        height: 50vw;
    }
}

@font-face {
    font-family: Barcode;
    src: url(../Fonts/BarcodeFont.ttf);
}

@font-face {
    font-family: Mono;
    src: url(../Fonts/Mono.ttf);
}

@font-face {
    font-family: PressStart;
    src: url(../Fonts/PressStart.ttf);
}