body{
    background-image: url(../../Pictures/paper.webp);
}

.home{
    list-style-type: none;

    display: flex;
    justify-content: center;
}

.home li a{
    padding: 0px 5vw;

    font-size:75px;
    font-family: Barcode;
    color: black;
}

.home li a:hover{
    color: red;
}

header{
    font-size: 45px;
    font-family: HandWriting;

    text-align: center;

    padding: 2vh 0vh 0vh 0vh;
    font-weight: bold;
}

.guide-body{
    font-family: HandWriting;

    padding: 3vh 0px;

    font-size:30px;
}

.introduction{
    width: 85%;
    margin: auto;
}

.guide-body ul{
    list-style-type:decimal;
}

.guide-body ul li{
    list-style-type:decimal;

    padding: 25px 0px;

    width: 90%;
    margin: auto;

    font-family: HandWriting;
    font-weight: bold;
}

.guide-body ul li div{
    padding:15px 0px;
    font-size:30px;
    font-weight:normal;
}

@media only screen and (max-device-width: 700px){
    .home li a{
        font-size: 55px;
    }

    header{
        font-size: 30px;
    }

    .guide-body{
        font-size: 20px;
    }

    .guide-body ul li div{
        font-size: 20px;
    }
}

@font-face {
    font-family: Barcode;
    src: url(../../Fonts/BarcodeFont.ttf);
}

@font-face {
    font-family: Mono;
    src: url(../../Fonts/Mono.ttf);
}

@font-face {
    font-family: PressStart;
    src: url(../../Fonts/PressStart.ttf);
}

@font-face {
    font-family: HandWriting;
    src: url(../../Fonts/HandWriting.ttf);
}